openapi: 3.1.0
info:
  description: Agora Public API. Authenticate with an API key and upload leads to
    authorized campaigns. Manage webhook endpoints to receive real-time event notifications.
  title: Agora Public API
  version: 1.1.0
servers:
- description: Production API
  url: https://core.agoraai.tech/api/v1
- description: Development API
  url: https://core-dev.agoraai.tech/api/v1
- description: Local Tilt backend
  url: http://localhost:8000/api/v1
tags:
- description: API key exchange for short-lived bearer tokens.
  name: Authentication
- description: API-key-authenticated lead ingestion.
  name: Leads
- description: Manage outbound webhook endpoints and view delivery history for a campaign.
  name: Webhooks
paths:
  /auth/api-key/token:
    post:
      description: Logs in with a long-lived Agora API key and returns a short-lived
        bearer JWT. The API key is only sent to this endpoint and should not be used
        for normal API calls.
      operationId: loginWithApiKey
      requestBody:
        content:
          application/json:
            examples:
              apiKey:
                summary: API key exchange
                value:
                  api_key: agora_live_REDACTED
            schema:
              $ref: '#/components/schemas/ApiKeyTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                token:
                  value:
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.REDACTED
                    token_type: Bearer
                    expires_in: 300
              schema:
                $ref: '#/components/schemas/ApiKeyTokenResponse'
          description: Short-lived bearer token.
        "401":
          content:
            application/json:
              examples:
                invalidApiKey:
                  value:
                    error: invalid_api_key
                    message: "The provided API key is invalid, expired, or revoked."
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "The API key is invalid, expired, or revoked."
      summary: Log in with an API key
      tags:
      - Authentication
  /leads/upload:
    post:
      description: Uploads lead JSON into an authorized campaign using a short-lived
        bearer token obtained from API key exchange. Processing reuses Agora's contact
        upload pipeline.
      operationId: uploadLeads
      requestBody:
        content:
          application/json:
            examples:
              oneLead:
                summary: Single lead upload
                value:
                  campaign_id: 1
                  source: api
                  leads:
                  - first_name: Jane
                    last_name: Doe
                    email: jane.doe@example.test
                    phone: "+15551234567"
                    company: Example Co
                    title: VP of Operations
                  compliance_acknowledged: true
            schema:
              $ref: '#/components/schemas/LeadUploadRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                accepted:
                  value:
                    status: accepted
                    import_id: "5"
                    received_count: 1
                    valid_count: 1
                    invalid_count: 0
                    errors: []
              schema:
                $ref: '#/components/schemas/LeadUploadResponse'
          description: Upload accepted and queued or processed through the upload
            job pipeline.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Request validation failed, such as missing campaign for API-token\
            \ upload."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, or expired bearer token."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bearer token is not authorized for the target campaign or company.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadUploadResponse'
          description: Lead payload failed structured validation.
      security:
      - bearerAuth: []
      summary: Upload leads
      tags:
      - Leads
  /webhooks/{campaign_id}/events:
    get:
      description: Returns all event type strings that can be subscribed to on a webhook
        endpoint.
      operationId: listWebhookEventTypes
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      responses:
        "200":
          content:
            application/json:
              examples:
                eventTypes:
                  value:
                  - lead.created
                  - leads.bulk_created
                  - lead.status_changed
                  - lead.converted
                  - call.started
                  - call.completed
                  - form.submitted
              schema:
                items:
                  type: string
                type: array
          description: Array of event type strings.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      security:
      - bearerAuth: []
      summary: List webhook event types
      tags:
      - Webhooks
  /webhooks/{campaign_id}/endpoints:
    get:
      description: Returns all webhook endpoints configured on a campaign. Does not
        include signing secrets — use the Agora dashboard to manage secrets.
      operationId: listWebhookEndpoints
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      responses:
        "200":
          content:
            application/json:
              examples:
                endpoints:
                  value:
                  - id: 12
                    campaign_id: 1
                    url: https://hooks.example.com/agora
                    description: Production lead handler
                    subscribed_events:
                    - lead.created
                    - lead.status_changed
                    is_enabled: true
                    created_at: 2026-06-01T10:00:00Z
                    last_delivery_is_successful: true
              schema:
                items:
                  $ref: '#/components/schemas/WebhookEndpointSummary'
                type: array
          description: List of webhook endpoints.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      security:
      - bearerAuth: []
      summary: List webhook endpoints
      tags:
      - Webhooks
  /webhooks/{campaign_id}/endpoints/{endpoint_id}/health:
    get:
      description: |
        Returns a delivery health snapshot for the endpoint: total/successful/failed
        delivery counts, success rate, last delivery timestamp, and average response
        time. Use this to monitor the reliability of your webhook integration — alert
        on a dropping success rate or a stale `last_delivery_at`.
      operationId: getWebhookEndpointHealth
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/EndpointId'
      responses:
        "200":
          content:
            application/json:
              examples:
                healthy:
                  summary: Healthy endpoint
                  value:
                    endpoint_id: 12
                    url: https://hooks.example.com/agora
                    is_enabled: true
                    total_deliveries: 843
                    successful_deliveries: 841
                    failed_deliveries: 2
                    success_rate: 0.9976
                    last_delivery_at: 2026-06-17T14:22:01Z
                    last_delivery_is_successful: true
                    avg_duration_ms: 142.3
                degraded:
                  summary: Endpoint with failures
                  value:
                    endpoint_id: 13
                    url: https://hooks.example.com/agora-v2
                    is_enabled: true
                    total_deliveries: 50
                    successful_deliveries: 30
                    failed_deliveries: 20
                    success_rate: 0.6
                    last_delivery_at: 2026-06-17T13:00:00Z
                    last_delivery_is_successful: false
                    avg_duration_ms: 9800.0
              schema:
                $ref: '#/components/schemas/WebhookEndpointHealth'
          description: Delivery health snapshot.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - bearerAuth: []
      summary: Get delivery health for a webhook endpoint
      tags:
      - Webhooks
components:
  parameters:
    CampaignId:
      description: ID of the campaign.
      explode: false
      in: path
      name: campaign_id
      required: true
      schema:
        minimum: 1
        type: integer
      style: simple
    EndpointId:
      description: ID of the webhook endpoint.
      explode: false
      in: path
      name: endpoint_id
      required: true
      schema:
        minimum: 1
        type: integer
      style: simple
  responses:
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: "Missing, invalid, or expired bearer token."
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bearer token is not authorized for this campaign.
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Resource not found or does not belong to this campaign.
  schemas:
    ApiKeyTokenRequest:
      additionalProperties: false
      example:
        api_key: agora_live_YOUR_KEY
      properties:
        api_key:
          description: Agora API key. Never log or persist this value outside secure
            credential storage.
          example: agora_live_YOUR_KEY
          minLength: 16
          type: string
      required:
      - api_key
    ApiKeyTokenResponse:
      additionalProperties: false
      example:
        access_token: access_token
        token_type: Bearer
        expires_in: 300
      properties:
        access_token:
          description: Short-lived bearer JWT. Do not log this value.
          type: string
        token_type:
          enum:
          - Bearer
          type: string
        expires_in:
          example: 300
          type: integer
      required:
      - access_token
      - expires_in
      - token_type
    LeadUploadRequest:
      additionalProperties: false
      example:
        disclaimer_version: v1.0
        leads:
        - phone: phone
          last_name: last_name
          company: company
          title: title
          first_name: first_name
          email: email
        - phone: phone
          last_name: last_name
          company: company
          title: title
          first_name: first_name
          email: email
        skip_duplicates: true
        source: api
        compliance_acknowledged: true
        campaign_id: 1
        tags:
        - tags
        - tags
      properties:
        campaign_id:
          description: Target campaign. Required for API-key-derived bearer tokens.
          minimum: 1
          type: integer
        source:
          default: api
          type: string
        leads:
          items:
            $ref: '#/components/schemas/LeadInput'
          minItems: 1
          type: array
        tags:
          items:
            type: string
          type: array
        skip_duplicates:
          default: true
          type: boolean
        compliance_acknowledged:
          description: Must be true to confirm the caller has permission to upload
            these contacts.
          type: boolean
        disclaimer_version:
          default: v1.0
          type: string
      required:
      - campaign_id
      - compliance_acknowledged
      - leads
    LeadInput:
      additionalProperties: false
      example:
        phone: phone
        last_name: last_name
        company: company
        title: title
        first_name: first_name
        email: email
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          format: email
          type: string
        phone:
          description: E.164 formatted phone number is preferred.
          type: string
        company:
          type: string
        title:
          type: string
      required:
      - phone
    LeadUploadResponse:
      additionalProperties: false
      example:
        import_id: import_id
        received_count: 0
        valid_count: 6
        invalid_count: 1
        errors:
        - field: field
          row: 5
          message: message
        - field: field
          row: 5
          message: message
        status: accepted
      properties:
        status:
          example: accepted
          type: string
        import_id:
          type: string
        received_count:
          type: integer
        valid_count:
          type: integer
        invalid_count:
          type: integer
        errors:
          items:
            $ref: '#/components/schemas/LeadUploadError'
          type: array
      required:
      - errors
      - import_id
      - invalid_count
      - received_count
      - status
      - valid_count
    LeadUploadError:
      additionalProperties: false
      example:
        field: field
        row: 5
        message: message
      properties:
        row:
          type: integer
        field:
          nullable: true
          type: string
        message:
          type: string
      required:
      - message
      - row
    WebhookEndpointSummary:
      additionalProperties: false
      example:
        is_enabled: true
        subscribed_events:
        - subscribed_events
        - subscribed_events
        description: description
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 0
        campaign_id: 6
        url: https://openapi-generator.tech
        last_delivery_is_successful: true
      properties:
        id:
          type: integer
        campaign_id:
          type: integer
        url:
          description: Destination URL events are delivered to.
          format: uri
          type: string
        description:
          type: string
          nullable: true
        subscribed_events:
          description: Event types this endpoint is subscribed to.
          items:
            type: string
          type: array
        is_enabled:
          type: boolean
        created_at:
          format: date-time
          type: string
        last_delivery_is_successful:
          description: "Outcome of the most recent delivery attempt, or null if no\
            \ deliveries yet."
          type: boolean
          nullable: true
      required:
      - campaign_id
      - created_at
      - id
      - is_enabled
      - subscribed_events
      - url
    WebhookEndpointHealth:
      additionalProperties: false
      example:
        is_enabled: true
        failed_deliveries: 5
        successful_deliveries: 1
        total_deliveries: 6
        avg_duration_ms: 2.302136
        endpoint_id: 0
        success_rate: 5.637377
        url: https://openapi-generator.tech
        last_delivery_at: 2000-01-23T04:56:07.000+00:00
        last_delivery_is_successful: true
      properties:
        endpoint_id:
          type: integer
        url:
          format: uri
          type: string
        is_enabled:
          type: boolean
        total_deliveries:
          description: Total number of delivery attempts recorded.
          type: integer
        successful_deliveries:
          description: Deliveries that received a 2xx response within 10 seconds.
          type: integer
        failed_deliveries:
          description: Deliveries that timed out or received a non-2xx response.
          type: integer
        success_rate:
          description: Ratio of successful to total deliveries (0–1). Null if no deliveries
            yet.
          format: float
          type: number
          nullable: true
        last_delivery_at:
          description: Timestamp of the most recent delivery attempt.
          format: date-time
          type: string
          nullable: true
        last_delivery_is_successful:
          description: Outcome of the most recent delivery attempt.
          type: boolean
          nullable: true
        avg_duration_ms:
          description: Average round-trip time in milliseconds across all recorded
            deliveries.
          format: float
          type: number
          nullable: true
      required:
      - endpoint_id
      - failed_deliveries
      - is_enabled
      - successful_deliveries
      - total_deliveries
      - url
    ErrorResponse:
      additionalProperties: false
      example:
        error: error
        message: message
      properties:
        error:
          type: string
        message:
          type: string
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      description: Short-lived bearer token returned by `loginWithApiKey`.
      scheme: bearer
      type: http
